@font-face {
  font-family: "iconfont-knowledge"; /* Project id 3885442 */
  src: url('//at.alicdn.com/t/c/font_3885442_fwdzyayyhm.woff2?t=1756093754094') format('woff2'),
       url('//at.alicdn.com/t/c/font_3885442_fwdzyayyhm.woff?t=1756093754094') format('woff'),
       url('//at.alicdn.com/t/c/font_3885442_fwdzyayyhm.ttf?t=1756093754094') format('truetype'),
       url('//at.alicdn.com/t/c/font_3885442_fwdzyayyhm.svg?t=1756093754094#iconfont-knowledge') format('svg');
}

.iconfont-knowledge {
  font-family: "iconfont-knowledge" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-k-file-pdf:before {
  content: "\e61a";
}

.icon-k-file-word:before {
  content: "\e61b";
}

.icon-k-stop:before {
  content: "\e619";
}

.icon-k-exitFullScreen:before {
  content: "\e6c7";
}

.icon-k-fullScreen:before {
  content: "\e6c3";
}

.icon-k-folder:before {
  content: "\e618";
}

.icon-k-docSetting:before {
  content: "\e617";
}

.icon-k-dynamic:before {
  content: "\e616";
}

.icon-k-undo:before {
  content: "\e613";
}

.icon-k-redo:before {
  content: "\e614";
}

.icon-k-cloud:before {
  content: "\e612";
}

.icon-k-a-siweidaotu1:before {
  content: "\e610";
}

.icon-k-refresh:before {
  content: "\e602";
}

.icon-k-thirdPart:before {
  content: "\e611";
}

.icon-k-date:before {
  content: "\e60f";
}

.icon-k-newPage:before {
  content: "\e60e";
}

.icon-k-remark-orange:before {
  content: "\e60c";
}

.icon-k-addRow:before {
  content: "\e60d";
}

.icon-k-addcolumn:before {
  content: "\eeef";
}

.icon-k-correct:before {
  content: "\e60b";
}

.icon-k-reply:before {
  content: "\e608";
}

.icon-k-more:before {
  content: "\e60a";
}

.icon-k-check-circle:before {
  content: "\e607";
}

.icon-k-arrow-left:before {
  content: "\e606";
}

.icon-k-down:before {
  content: "\e605";
}

.icon-k-H5:before {
  content: "\e604";
}

.icon-k-H6:before {
  content: "\e603";
}

.icon-k-remark:before {
  content: "\e601";
}

.icon-k-anchorpoint:before {
  content: "\e6aa";
}

.icon-k-table-column-header:before {
  content: "\e6a8";
}

.icon-k-table-row-header:before {
  content: "\e6a9";
}

.icon-k-align-bottom:before {
  content: "\e6ae";
}

.icon-k-align-middle:before {
  content: "\e6ad";
}

.icon-k-align-top:before {
  content: "\e6ac";
}

.icon-k-indent-right:before {
  content: "\e6a7";
}

.icon-k-indent-left:before {
  content: "\e6ab";
}

.icon-k-eye:before {
  content: "\e6a6";
}

.icon-k-wiki:before {
  content: "\e6a2";
}

.icon-k-web:before {
  content: "\e6a1";
}

.icon-k-iframe:before {
  content: "\e69d";
}

.icon-k-a-Publicaccount:before {
  content: "\e698";
}

.icon-k-AD:before {
  content: "\e6a4";
}

.icon-k-ADgenerator:before {
  content: "\e6a5";
}

.icon-k-API:before {
  content: "\e6a3";
}

.icon-k-IT:before {
  content: "\e691";
}

.icon-k-book:before {
  content: "\e694";
}

.icon-k-commercialPlanning:before {
  content: "\e69b";
}

.icon-k-activity:before {
  content: "\e690";
}

.icon-k-application:before {
  content: "\e692";
}

.icon-k-circleoffriends:before {
  content: "\e693";
}

.icon-k-engineering:before {
  content: "\e695";
}

.icon-k-entertainment:before {
  content: "\e697";
}

.icon-k-marketing:before {
  content: "\e699";
}

.icon-k-programming:before {
  content: "\e69a";
}

.icon-k-fortune-telling:before {
  content: "\e69c";
}

.icon-k-unity:before {
  content: "\e69e";
}

.icon-k-videoscript:before {
  content: "\e69f";
}

.icon-k-elevator:before {
  content: "\e66e";
}

.icon-k-mail:before {
  content: "\e670";
}

.icon-k-official-document:before {
  content: "\e68d";
}

.icon-k-week:before {
  content: "\e68e";
}

.icon-k-product:before {
  content: "\e68f";
}

.icon-k-brainstorm:before {
  content: "\e681";
}

.icon-k-swot:before {
  content: "\e682";
}

.icon-k-okr:before {
  content: "\e68a";
}

.icon-k-reportoutline:before {
  content: "\e68b";
}

.icon-k-ppt:before {
  content: "\e68c";
}

.icon-k-replace:before {
  content: "\e66d";
}

.icon-k-close-outline:before {
  content: "\e66f";
}

.icon-k-bottom-input:before {
  content: "\e67a";
}

.icon-k-compact-content:before {
  content: "\e668";
}

.icon-k-content-polishing:before {
  content: "\e669";
}

.icon-k-content-summary:before {
  content: "\e66a";
}

.icon-k-explanation:before {
  content: "\e66b";
}

.icon-k-continue-to-write:before {
  content: "\e66c";
}

.icon-k-flowchart:before {
  content: "\e667";
}

.icon-k-file:before {
  content: "\e65b";
}

.icon-k-formula:before {
  content: "\e65c";
}

.icon-k-text-processing:before {
  content: "\e65d";
}

.icon-k-office-efficiency:before {
  content: "\e65e";
}

.icon-k-video:before {
  content: "\e660";
}

.icon-k-translation:before {
  content: "\e661";
}

.icon-k-picture:before {
  content: "\e662";
}

.icon-k-a-Mindmap:before {
  content: "\e665";
}

.icon-k-writing:before {
  content: "\e666";
}

.icon-k-taskList:before {
  content: "\e600";
}

.icon-k-insert:before {
  content: "\e652";
}

.icon-k-change:before {
  content: "\e650";
}

.icon-k-yoda:before {
  content: "\e64d";
}

.icon-k-deletecolumn:before {
  content: "\e63f";
}

.icon-k-deleteline:before {
  content: "\e641";
}

.icon-k-mergecell:before {
  content: "\e642";
}

.icon-k-unmergecell:before {
  content: "\e643";
}

.icon-k-add1:before {
  content: "\e609";
}

.icon-k-delete:before {
  content: "\e989";
}

.icon-k-shear:before {
  content: "\e63d";
}

.icon-k-copy:before {
  content: "\e63e";
}

.icon-k-add:before {
  content: "\e638";
}

.icon-k-bg-color:before {
  content: "\e63a";
}

.icon-k-close:before {
  content: "\e615";
}

.icon-k-view:before {
  content: "\e64e";
}

.icon-k-play:before {
  content: "\e635";
}

.icon-k-H4:before {
  content: "\e633";
}

.icon-k-horizontalRule:before {
  content: "\eeee";
}

.icon-k-H1:before {
  content: "\e632";
}

.icon-k-H2:before {
  content: "\e671";
}

.icon-k-H3:before {
  content: "\e672";
}

.icon-k-link:before {
  content: "\e673";
}

.icon-k-orderedlist:before {
  content: "\e674";
}

.icon-k-reference:before {
  content: "\e675";
}

.icon-k-table:before {
  content: "\e676";
}

.icon-k-text:before {
  content: "\e677";
}

.icon-k-unorderedlist:before {
  content: "\e678";
}

.icon-k-codeblock:before {
  content: "\e679";
}

.icon-k-align:before {
  content: "\e67c";
}

.icon-k-bold:before {
  content: "\e67d";
}

.icon-k-italic:before {
  content: "\e67e";
}

.icon-k-underline:before {
  content: "\e67f";
}

.icon-k-strike:before {
  content: "\e680";
}

.icon-k-color:before {
  content: "\e683";
}

.icon-k-at:before {
  content: "\e684";
}

.icon-k-inlinecode:before {
  content: "\e685";
}

.icon-k-download:before {
  content: "\e686";
}

.icon-k-align-left:before {
  content: "\e687";
}

.icon-k-align-center:before {
  content: "\e688";
}

.icon-k-align-right:before {
  content: "\e689";
}

